# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Streamlit Secrets
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Database
# -----------------------------
*.db

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db