# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Streamlit Secrets
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Database
# -----------------------------
*.db
*.sql

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python Distribution / Build
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Coverage Reports
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db